{% extends "Home.html" %}

{% block list %}
<!--<style type="text/css">-->
    <!--.hovergallery img {-->
        <!-- -webkit-transform: scale(0.8); /*Webkit: Scale down image to 0.8x original size*/-->
        <!-- -moz-transform: scale(0.8); /*Mozilla scale version*/-->
        <!-- -o-transform: scale(0.8); /*Opera scale version*/-->
        <!-- -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/-->
        <!-- -moz-transition-duration: 0.5s; /*Mozilla duration version*/-->
        <!-- -o-transition-duration: 0.5s; /*Opera duration version*/-->
        <!--opacity: 0.7; /*initial opacity of images*/-->
        <!--margin: 0 10px 5px 0; /*margin between images*/-->

    <!--}-->

    <!--.hovergallery img:hover {-->
        <!-- -webkit-transform: scale(1.1); /*Webkit: Scale up image to 1.2x original size*/-->
        <!-- -moz-transform: scale(1.1); /*Mozilla scale version*/-->
        <!-- -o-transform: scale(1.1); /*Opera scale version*/-->
        <!--box-shadow: 0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/-->
        <!-- -webkit-box-shadow: 0px 0px 30px gray; /*Safari shadow version*/-->
        <!-- -moz-box-shadow: 0px 0px 30px gray; /*Mozilla shadow version*/-->
        <!--opacity: 1;-->
    <!--}-->
<!--</style>-->
{% load static %}
<div class="list-courses">
    {% for item in list %}
    <div class="col-md-3 resent-grid recommended-grid slider-first">
        <div class="resent-grid-img recommended-grid-img">
            <!--<div class="hovergallery">-->
                <!--<a href="/course/detail/{{ item.id }}/"><img width="265px" height="200px" src="{{ item.image }}" alt=""></a>-->
                <!--<img width="455px" height="300px" src="{{ item.image }}" alt="">-->
            <!--</div>-->
            <a href="/course/detail/{{ item.id }}/"><img width="265px" height="200px" src="{{ item.image }}" alt=""></a>
        </div>
        <div class="resent-grid-info recommended-grid-info">
            <h5><a href="/course/detail/{{ item.id }}/" class="title">{{ item.name }}</a>
            </h5>
            <div class="slid-bottom-grids">
                <div class="slid-bottom-grid">
                    <p class="author author-info"><a href="#" class="author">Do Thi Nga</a></p>
                </div>
                <div class="slid-bottom-grid slid-bottom-right">
                    <p class="views views-info">{{ item.hitcount }} views</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
    <!--<div class="thumbnail">-->
    <!--<img src="{{ item.image }}" alt="">-->
    <!--<div class="caption">-->
    <!--<h4 class="pull-right">${{ item.price }}</h4>-->
    <!--<h4><a href="/course/detail/{{ item.id }}/">{{ item.name }}</a>-->
    <!--</h4>-->
    <!--<p>{{ item.subtitle }}</p>-->
    <!--</div>-->
    <!--<div class="ratings">-->
    <!--<p class="pull-right">{{ item.hitcount }} reviews</p>-->
    <!--<p>-->
    <!--<span class="glyphicon glyphicon-star"></span>-->
    <!--<span class="glyphicon glyphicon-star"></span>-->
    <!--<span class="glyphicon glyphicon-star"></span>-->
    <!--<span class="glyphicon glyphicon-star"></span>-->
    <!--<span class="glyphicon glyphicon-star"></span>-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    {% endfor %}
</div>
<div class="page">
    <table>
        <tr>
            <td>
                <h4 class="step-links">
                    {% if list.has_previous %}
                    <a href="?page={{ list.previous_page_number }}">Previous</a>
                    {% endif %}
                </h4>
            </td>
            <td>

                <h4 class="current"> Page {{ list.number }} of {{ list.paginator.num_pages }}. </h4>
            </td>
            <td>
                <h4>
                    {% if list.has_next %}
                    <a href="?page={{ list.next_page_number }}">Next</a>
                    {% endif %}
                </h4>
            </td>
        </tr>
    </table>
</div>
<style>
    .page {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding-left: 0;
        margin: 10px 20px;
        border-radius: 4px
    }
</style>
{% endblock %}
